@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 430px;
  --breakpoint-desktop: 860px;

  --font-poppins-light: "Poppins-Light", sans-serif;
  --font-poppins-regular: "Poppins-Regular", sans-serif;
  --font-poppins-semibold: "Poppins-Semibold", sans-serif;

  --color-muted: #bdf8ff;
  --color-highlight: #30679a;
  --color-header: #02172b;
}

@font-face {
  font-family: "Poppins-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Semibold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 95%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.appear-animation {
  animation: appear ease-in-out;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@media (max-width: 860px) {
  .appear-animation {
    animation-range: entry 0 cover 20%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #001f58;
  background: radial-gradient(circle at 30% 0, #001f58 0%, #000b1f 60%);
  scroll-behavior: smooth;
}

.icon-wrapper svg {
  @apply mobile:w-[69px] mobile:h-[69px] tablet:w-[94px] tablet:h-[94px];
}
