@import "tailwindcss";

@theme {
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 430px;
  --breakpoint-desktop: 860px;

  --font-poppins-light: "Poppins-Light", sans-serif;
  --font-poppins-regular: "Poppins-Regular", sans-serif;
  --font-poppins-semibold: "Poppins-Semibold", sans-serif;

  --color-input-bg: #000e1c;
  --color-light-bg: #02172b;
  --color-highlight: #30679a;

  --color-muted: #bdf8ff;
  --color-muted-strong: #7eb6ee;
  --color-paragraph: #e6e6e6;
  --color-placeholder: #b3b3b3;
  --color-primary-text: #ffffff;
}

@font-face {
  font-family: "Poppins-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Semibold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 95%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.appear-animation {
  animation: appear ease-in-out;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@media (max-width: 860px) {
  .appear-animation {
    animation-range: entry 0 cover 20%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #001f58;
  background: radial-gradient(circle at 50% 0, #001f58 0%, #000b1f 35%);
  scroll-behavior: smooth;
}

.clickable {
  @apply active:scale-95 transition-transform duration-75 desktop:duration-200 ease-in-out desktop:hover:-translate-y-1 cursor-pointer;
}

.icon-wrapper svg {
  @apply mobile:w-[69px] mobile:h-[69px] tablet:w-[94px] tablet:h-[94px];
}

.primary {
  @apply font-poppins-semibold mobile:h-[48px] desktop:h-[64px] desktop:text-[20px] mobile:text-[16px] text-primary-text mobile:px-3 desktop:px-6 rounded-lg bg-[radial-gradient(circle_at_top,#FFB35D_0%,#FF8800_100%)] drop-shadow-2xl;
}

.secondary {
  @apply mobile:h-[48px] desktop:h-[64px] mobile:px-3 desktop:px-6 font-poppins-semibold text-primary-text mobile:text-[16px] desktop:text-[20px] rounded-lg bg-[#002E5D] border-[1px] border-[#0F4A7B] drop-shadow-2xl;
}
