---
import AboutMe from "../components/AboutMe.astro";
import ContactMe from "../components/ContactMe.astro";
import PrimaryLink from "../components/PrimaryLink.astro";
import SecondaryLink from "../components/SecondaryLink.astro";
import Technologies from "../components/Technologies.astro";
import Work from "../components/Work.astro";
import WorkPreview from "../components/WorkPreview.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="w-full flex flex-col tablet:items-center gap-y-[32px]">
    <div class="flex flex-col mobile:gap-y-[10px] desktop:gap-y-[24px]">
      <h1
        class="text-white mobile:text-left tablet:text-center mobile:text-4xl tablet:text-[44px] desktop:text-7xl font-poppins-semibold"
      >
        Ezequias Torczuk
      </h1>
      <h2
        class="text-[#BDF8FF] mobile:text-left tablet:text-center mobile:text-[28px] tablet:text-4xl desktop:text-5xl font-poppins-semibold"
      >
        FullStack Developer
      </h2>

      <p
        class="text-[#E6E6E6] font-poppins-regular mobile:text-left tablet:text-center mobile:text-[16px] desktop:text-2xl"
      >
        From Argentina with around <strong class="font-poppins-semibold"
          >2 years of experience</strong
        >.
      </p>
    </div>

    <div class="flex gap-x-[30px]">
      <PrimaryLink href="#work">View all work</PrimaryLink>
      <SecondaryLink href="#about-me">Read about me</SecondaryLink>
    </div>
  </main>

  <Work />
  <AboutMe />
  <Technologies />
  <ContactMe />
</Layout>
