---
import { Image } from "astro:assets";
import H2 from "./H2.astro";
import Paragraph from "./Paragraph.astro";
import Section from "./Section.astro";
import { getLangFromUrl } from "../utilities/get-lang-from-url.utility";
import { useTranslations } from "../utilities/use-translations.utility";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section id="about-me">
  <H2 class="mb-[16px]">{t("about-me.title")}</H2>

  <div
    class="mobile:flex mobile:flex-col mobile:gap-y-[100px] desktop:grid desktop:grid-cols-[1.2fr_1fr]"
  >
    <article class="flex flex-col gap-y-8">
      <Paragraph set:html={t("about-me.paragraph.1")} />
      <Paragraph set:html={t("about-me.paragraph.2")} />
      <Paragraph set:html={t("about-me.paragraph.3")} />
      <Paragraph set:html={t("about-me.paragraph.4")} />
    </article>

    <div class="relative flex items-end justify-end">
      <img
        src={"/images/aboutMe/profile-picture.webp"}
        class="rounded-default w-[190px] tablet:w-[275px] aspect-square absolute z-10 tablet:-translate-x-[clamp(100px,10vw,176px)] -translate-y-14 drop-shadow-2xl mobile:-translate-x-[100px]"
        alt={t("about-me.face-image.alt")}
        decoding="async"
        loading="lazy"
      />

      <img
        src={"/images/aboutMe/argentine-flag.webp"}
        class="rounded-default w-[190px] tablet:w-[275px] aspect-square relative z-0"
        alt={t("about-me.argentine-flag-image.alt")}
        decoding="async"
        loading="lazy"
      />
    </div>
  </div>
</Section>
