---
import {
  DISCORD,
  EMAIL,
  FORM_LINK,
} from "../configuration/contact.configuration";
import CopyButton from "./CopyButton";
import H2 from "./H2.astro";
import Paragraph from "./Paragraph.astro";
import PrimaryButton from "./PrimaryButton.astro";
import Section from "./Section.astro";
import Subheading from "./Subheading.astro";
---

<Section id="contact">
  <H2>Contact me</H2>
  <Subheading>
    Let's connect and create innovative solutions together.
  </Subheading>

  <Paragraph class="mt-[24px] w-[550px]">
    Complete the form to send me a message via <strong>email</strong> or contact
    me directly by my <strong>Discord</strong>.
  </Paragraph>

  <div class="flex gap-x-[32px] mt-[48px]">
    <CopyButton client:load label="Copy Email" text={EMAIL} />
    <CopyButton client:load label="Copy Discord" text={DISCORD} />
  </div>

  <form
    class="bg-[#02172B] w-full p-9 flex flex-col gap-y-[40px] mt-11 rounded-[8px]"
    action={FORM_LINK}
    method="POST"
  >
    <input
      class="w-full font-poppins-semibold p-4 text-white placeholder:text-[#7E7E7E] h-16 text-[24px] bg-[#000E1C] rounded-[8px]"
      type="email"
      name="email"
      placeholder="jhon-doe@email.com"
      required
    />

    <textarea
      class="w-full font-poppins-semibold p-4 text-white placeholder:text-[#7E7E7E] text-[24px] bg-[#000E1C] rounded-[8px] h-[290px] resize-none"
      placeholder="Hi! I'm Jhon Doe and I've an idea for a project..."
      name="message"
      required></textarea>

    <PrimaryButton>Send Message</PrimaryButton>
  </form>
</Section>
