---
import { LAST_UPDATE_DATE } from "../configuration/general.configuration";
import { getLangFromUrl } from "../utilities/getLangFromUrl";
import { useTranslations } from "../utilities/useTranslations";
import FooterLink from "./FooterLink.astro";
import BlueGithubIcon from "./icons/BlueGithubIcon.astro";
import DiscordIcon from "./icons/DiscordIcon.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer
  class="w-full flex justify-center items-center mobile:gap-x-[16px] tablet:gap-x-[32px] mobile:h-[90px] desktop:h-[110px] bg-[#02172B]"
>
  <div class="flex flex-col gap-x-[7px] items-center justify-center">
    <span class="text-[#BDF8FF] font-poppins-semibold text-[20px]"
      >{t("footer.updated-on")}</span
    >
    <span class="text-[#7EB6EE] font-poppins-regular text-[16px]"
      >{LAST_UPDATE_DATE}</span
    >
  </div>

  <hr class="bg-[#0F4A7B] w-[2px] h-[60%] rounded-[8px]" />

  <div class="flex gap-x-[26px]">
    <FooterLink
      aria-label={t("footer.github.aria-label")}
      href="https://github.com/Ezetorc"
    >
      <BlueGithubIcon />
    </FooterLink>

    <FooterLink
      aria-label={t("footer.discord.aria-label")}
      href="https://discord.com/users/457597163183144970"
    >
      <DiscordIcon />
    </FooterLink>
  </div>
</footer>
