---
import { getLangFromUrl } from "../utilities/get-lang-from-url.utility";
import { useTranslatedPath } from "../utilities/use-translated-path.utility";
import { useTranslations } from "../utilities/use-translations.utility";
import HeaderLink from "./HeaderLink.astro";
import ArrowLeftIcon from "./icons/ArrowLeftIcon.astro";
import LanguageSelector from "./LanguageSelector.astro";
import NavLinks from "./NavLinks.astro";
import SectionSelector from "./SectionSelector.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const homePath = translatePath("/");
const isHome =
  homePath.includes(Astro.url.pathname) || Astro.url.pathname === "/index.html";
---

<header
  class="w-full sticky top-0 left-0 mobile:h-[65px] desktop:h-[75px] border-b-highlight border-b-1 bg-light-bg flex items-center justify-center z-50 mobile:px-4"
>
  <div
    class="w-full max-w-[1280px] min-w-[320px] flex justify-between items-center"
  >
    <LanguageSelector />

    <div>
      {
        isHome ? (
          <>
            <nav class="mobile:hidden desktop:flex items-center mobile:gap-x-[10px] desktop:gap-x-[24px]">
              <NavLinks />
            </nav>
            <SectionSelector />
          </>
        ) : (
          <HeaderLink aria-label={t("work.go-back")} href={translatePath("/")}>
            <ArrowLeftIcon />
          </HeaderLink>
        )
      }
    </div>
  </div>
</header>
