---
import { FULL_NAME } from "../configuration/general.configuration";
import { getLangFromUrl } from "../utilities/get-lang-from-url.utility";
import { useTranslations } from "../utilities/use-translations.utility";
import Link from "./Link.astro";
import Section from "./Section.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section>
  <div class="flex flex-col">
    <h1
      class="text-primary-text mobile:text-left tablet:text-center mobile:text-4xl tablet:text-6xl desktop:text-7xl font-poppins-semibold"
    >
      {FULL_NAME}
    </h1>

    <h2
      class="text-muted mobile:text-left tablet:text-center mobile:text-[25px] tablet:text-5xl desktop:text-6xl font-poppins-semibold tablet:mt-[24px] desktop:mt-[28px]"
    >
      {t("hero.subtitle")}
    </h2>

    <p
      set:html={t("hero.description")}
      class="text-paragraph font-poppins-regular mobile:text-left tablet:text-center mobile:text-[16px] tablet:text-[24px] mobile:mt-[8px] tablet:mt-[32px]"
    />
  </div>

  <div
    class="flex tablet:justify-center mobile:mt-[24px] tablet:mt-[48px] gap-x-[30px]"
  >
    <Link style="primary" href="#work">{t("hero.view-all-work")}</Link>
    <Link style="secondary" href="#about-me">{t("hero.read-about-me")}</Link>
  </div>
</Section>
