<a
  class="cursor-pointer content-center font-poppins-semibold mobile:h-[48px] desktop:h-[64px] desktop:text-[20px] mobile:text-[16px] text-white mobile:px-3 desktop:px-6 rounded-lg bg-[radial-gradient(circle_at_top,#FFB35D_0%,#FF8800_100%)] drop-shadow-2xl active:scale-95 transition-transform duration-75 desktop:duration-200 ease-in-out desktop:hover:-translate-y-1"
  {...Astro.props}
>
  <slot />
</a>
