---
interface Props {
  disableAnimation?: boolean;
  id?: string;
}

const { disableAnimation = false, id } = Astro.props;
---

<section
  id={id}
  class={`flex-col scroll-mt-[80px] my-[48px] ${!disableAnimation && "fade-in"}`}
>
  <slot />
</section>
