---
interface Props {
  disableAnimation?: boolean;
  id?: string;
}

const { disableAnimation = false, id } = Astro.props;
---

<section id={id} class={`flex-col scroll-mt-48 my-[16px] ${!disableAnimation && "fade-in"}`}>
  <slot />
</section>
