---
import H2 from "./H2.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import CSSIcon from "./icons/CSSIcon.astro";
import ExpressIcon from "./icons/ExpressIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import GitIcon from "./icons/GitIcon.astro";
import HTMLIcon from "./icons/HTMLIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import MySQLIcon from "./icons/MySQLIcon.astro";
import NestJSIcon from "./icons/NestJSIcon.astro";
import NodeJSIcon from "./icons/NodeJSIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import ViteIcon from "./icons/ViteIcon.astro";
import Section from "./Section.astro";
import Subheading from "./Subheading.astro";
import Technology from "./Technology.astro";
---

<Section id="technologies">
  <H2>Technologies</H2>
  <Subheading
    >Tools and technologies I rely on to build and grow my projects.</Subheading
  >

  <ul class="grid tablet:grid-cols-3 mt-[42px] gap-[28px]">
    <Technology name="HTML" description="Markup Language">
      <HTMLIcon />
    </Technology>

    <Technology name="React" description="UI Library">
      <ReactIcon />
    </Technology>

    <Technology name="NodeJS" description="Runtime Environment">
      <NodeJSIcon />
    </Technology>

    <Technology name="CSS" description="Style Sheet Language">
      <CSSIcon />
    </Technology>

    <Technology name="Tailwind" description="Utility Framework">
      <TailwindIcon />
    </Technology>

    <Technology name="Express" description="Framework">
      <ExpressIcon />
    </Technology>

    <Technology name="JavaScript" description="Programming Language">
      <JavaScriptIcon />
    </Technology>

    <Technology name="Astro" description="Frontend Framework">
      <AstroIcon />
    </Technology>

    <Technology name="NestJS" description="Backend Framework">
      <NestJSIcon />
    </Technology>

    <Technology name="TypeScript" description="Programming Language">
      <TypeScriptIcon />
    </Technology>

    <Technology name="Vite" description="Build Tool">
      <ViteIcon />
    </Technology>

    <Technology name="Git" description="Version Control">
      <GitIcon />
    </Technology>

    <Technology name="Github" description="Code Hosting">
      <GithubIcon />
    </Technology>

    <Technology name="MySQL" description="Relational Database">
      <MySQLIcon />
    </Technology>
  </ul>
</Section>
