---
import { getLangFromUrl } from "../utilities/get-lang-from-url.utility";
import { useTranslations } from "../utilities/use-translations.utility";
import H2 from "./H2.astro";
import Section from "./Section.astro";
import Subheading from "./Subheading.astro";
import Technology from "./Technology.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section id="technologies">
  <H2>{t("technologies.title")}</H2>
  <Subheading>{t("technologies.subtitle")}</Subheading>

  <ul
    class="grid gap-y-[24px] mobile:grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-3 mt-[20px]"
  >
    <Technology id="html" />
    <Technology id="css" />
    <Technology id="javascript" />
    <Technology id="typescript" />
    <Technology id="react" />
    <Technology id="astro" />
    <Technology id="tailwind" />
    <Technology id="nodejs" />
    <Technology id="express" />
    <Technology id="nestjs" />
    <Technology id="git" />
    <Technology id="github" />
    <Technology id="mysql" />
  </ul>
</Section>
