---
import bolsilloFelizImage from "../assets/images/bolsillo-feliz-icon.webp";
import vibeNetworkImage from "../assets/images/vibe-network-icon.webp"
import { getLangFromUrl } from "../utilities/getLangFromUrl";
import { useTranslations } from "../utilities/useTranslations";
import H2 from "./H2.astro";
import Section from "./Section.astro";
import Subheading from "./Subheading.astro";
import WorkPreview from "./WorkPreview.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section id="work" disableAnimation>
  <H2>{t("work.title")}</H2>
  <Subheading>{t("work.subtitle")}</Subheading>

  <div
    class="w-full flex mobile:flex-col desktop:flex-row mt-[32px] gap-x-[32px] gap-y-[32px] justify-between"
  >
    <WorkPreview
      href="/bolsillo-feliz"
      title={t("work.bolsillo-feliz.title")}
      description={t("work.bolsillo-feliz.description")}
      image={bolsilloFelizImage}
      colorFrom="#E5C598"
      colorTo="#875D22"
    />

    <WorkPreview
      href="/vibe-network"
      title={t("work.vibe-network.title")}
      description={t("work.vibe-network.description")}
      image={vibeNetworkImage}
      colorFrom="#63B5B1"
      colorTo="#1D3C3B"
    />

    <WorkPreview
      href="/cinetro-backend"
      title={t("work.cinetro-backend.title")}
      description={t("work.cinetro-backend.description")}
      colorFrom="#D33F3F"
      colorTo="#681313"
    />
  </div>
</Section>
