---
import { getLangFromUrl } from "../utilities/get-lang-from-url.utility";
import { useTranslations } from "../utilities/use-translations.utility";
import H2 from "./H2.astro";
import Section from "./Section.astro";
import Subheading from "./Subheading.astro";
import WorkPreview from "./WorkPreview.astro";
import { WORKS } from "../configuration/works.configuration";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section id="work" disableAnimation>
  <H2>{t("work.title")}</H2>
  <Subheading>{t("work.subtitle")}</Subheading>

  <div
    class="w-full mt-8 grid grid-cols-[repeat(auto-fit,minmax(clamp(200px,90vw,300px),1fr))] gap-9"
  >
    {WORKS.map((work) => <WorkPreview {work} />)}
  </div>
</Section>
