---
interface Props {
  title: string;
  description: string;
  colorFrom: string;
  colorTo: string;
}

const { title, description, colorFrom, colorTo } = Astro.props;
---

<button
  class="w-[clamp(320px,80%,360px)] aspect-[9/11] rounded-[8px] cursor-pointer drop-shadow-2xl flex flex-col items-center mobile:p-[4%] desktop:p-[2%] justify-between"
  style={`background: radial-gradient(circle at top, ${colorFrom} 0%, ${colorTo} 100%)`}
>
  <div
    class="mt-[12%] w-[70%] aspect-square border-white border-4 rounded-[8px]"
  >
    Logo
  </div>

  <div>
    <h3 class="text-white font-poppins-semibold text-left w-full text-[30px]">
      {title}
    </h3>
    <p class="text-[#E6E6E6] font-poppins-light text-left text-[16px]">
      {description}
    </p>
  </div>
</button>
