---
import Image from "astro/components/Image.astro";
import vibeLoginPageImage from "../../assets/images/vibe-login-page.webp";
import Paragraph from "../../components/Paragraph.astro";
import SecondaryLink from "../../components/SecondaryLink.astro";
import Section from "../../components/Section.astro";
import Subheading from "../../components/Subheading.astro";
import Technology from "../../components/Technology.astro";

import Layout from "../../layouts/Layout.astro";
import CSSIcon from "../../components/icons/CSSIcon.astro";
import ExpressIcon from "../../components/icons/ExpressIcon.astro";
import HTMLIcon from "../../components/icons/HTMLIcon.astro";
import MySQLIcon from "../../components/icons/MySQLIcon.astro";
import NodeJSIcon from "../../components/icons/NodeJSIcon.astro";
import ReactIcon from "../../components/icons/ReactIcon.astro";
import TypeScriptIcon from "../../components/icons/TypeScriptIcon.astro";
import { getLangFromUrl } from "../../utilities/getLangFromUrl";
import { useTranslations } from "../../utilities/useTranslations";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}
---

<Layout>
  <Section>
    <h1
      class="text-white mobile:text-4xl mb-[16px] tablet:text-[36px] desktop:text-[40px] font-poppins-semibold"
    >
      {t("work.vibe-network.title")}
    </h1>

    <Subheading class="w-[50ch] mb-[32px]">
      {t("work.vibe-network.detailed-description")}
    </Subheading>

    <SecondaryLink
      target="_blank"
      href="https://github.com/Ezetorc/vibe-frontend"
    >
      {t("work.view-code")}
    </SecondaryLink>
  </Section>

  <Section>
    <h3
      class="mobile:text-[24px] tablet:text-[32px] font-poppins-semibold text-[#BDF8FF]"
    >
      {t("work.overview.title")}
    </h3>

    <div class="grid grid-cols-[1fr_1fr]">
      <article class="flex flex-col gap-y-[36px]">
        <Paragraph>
          {t("work.vibe-network.overview.paragraph.1")}
        </Paragraph>
        <Paragraph>
          {t("work.vibe-network.overview.paragraph.2")}
        </Paragraph>
        <Paragraph>
          {t("work.vibe-network.overview.paragraph.3")}
        </Paragraph>
      </article>

      <Image
        class="justify-self-end"
        src={vibeLoginPageImage}
        alt={t("work.vibe-network.image.1.alt")}
      />
    </div>
  </Section>

  <Section>
    <h3
      class="mobile:text-[24px] tablet:text-[32px] font-poppins-semibold text-[#BDF8FF]"
    >
      {t("technologies.title")}
    </h3>

    <article class="grid grid-cols-2">
      <div>
        <Subheading class="mb-[8px]">{t("work.frontend")}</Subheading>

        <ul class="flex flex-col gap-y-8">
          <Technology id="html">
            <HTMLIcon />
          </Technology>

          <Technology id="css">
            <CSSIcon />
          </Technology>

          <Technology id="typescript">
            <TypeScriptIcon />
          </Technology>

          <Technology id="react">
            <ReactIcon />
          </Technology>
        </ul>
      </div>

      <div>
        <Subheading class="mb-[8px]">{t("work.backend")}</Subheading>

        <ul class="flex flex-col gap-y-8">
          <Technology id="nodejs">
            <NodeJSIcon />
          </Technology>

          <Technology id="express">
            <ExpressIcon />
          </Technology>

          <Technology id="typescript">
            <TypeScriptIcon />
          </Technology>

          <Technology id="mysql">
            <MySQLIcon />
          </Technology>
        </ul>
      </div>
    </article>
  </Section>

  <Section>
    <h3
      class="mobile:text-[24px] tablet:text-[32px] font-poppins-semibold text-[#BDF8FF]"
    >
      {t("work.process")}
    </h3>

    <div class="grid grid-cols-[1fr_1fr]">
      <article class="flex flex-col gap-y-[36px]">
        <Paragraph>
          {t("work.vibe-network.process.paragraph.1")}
        </Paragraph>
        <Paragraph>
          {t("work.vibe-network.process.paragraph.2")}
        </Paragraph>
        <Paragraph>
          {t("work.vibe-network.process.paragraph.3")}
        </Paragraph>
      </article>

      <Image
        class="justify-self-end"
        src={vibeLoginPageImage}
        alt={t("work.vibe-network.image.2.alt")}
      />
    </div>
  </Section>

  <SecondaryLink href="/">{t("work.go-back")}</SecondaryLink>
</Layout>
