---
import Section from "../../../components/Section.astro";
import WorkPreview from "../../../components/WorkPreview.astro";
import { WORKS } from "../../../configuration/works.configuration";
import Layout from "../../../layouts/Layout.astro";
import { getLangFromUrl } from "../../../utilities/get-lang-from-url.utility";
import { useTranslations } from "../../../utilities/use-translations.utility";

export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <Section>
    <div class="flex flex-col">
      <h1
        class="text-primary-text mobile:text-4xl tablet:text-6xl desktop:text-7xl font-poppins-semibold"
      >
        {t("work.title")}
      </h1>

      <h2
        class="text-muted mobile:text-[25px] tablet:text-3xl desktop:text-4xl font-poppins-semibold tablet:mt-[24px] desktop:mt-[28px]"
      >
        {t("work.full-subtitle")}
      </h2>
    </div>

    <div
      class="w-full mt-8 grid grid-cols-[repeat(auto-fit,minmax(clamp(200px,90vw,300px),1fr))] gap-9"
    >
      {WORKS.map((work) => <WorkPreview {work} />)}
    </div>
  </Section>
</Layout>
