---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { getLangFromUrl } from "../utilities/getLangFromUrl";
const lang = getLangFromUrl(Astro.url);
import "../styles/global.css";
---

<!doctype html>
<html lang={lang} class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>Ezequias Torczuk Portfolio</title>
    <meta
      name="description"
      content="Web developer specialized in React and NodeJS, building modern, scalable, and creative projects. Explore my work, skills, and experience in software development."
    />
    <meta property="og:title" content="Ezequias Torczuk Portfolio" />
    <meta property="og:site_name" content="Ezequias Torczuk Portfolio" />
    <meta
      property="og:description"
      content="Web developer specialized in React and NodeJS, building modern, scalable, and creative projects. Explore my work, skills, and experience in software development."
    />
    <meta property="og:type" content="article" />
    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-screen relative">
    <Header />

    <main
      class="flex flex-col w-full max-w-[1280px] min-w-[320px] mx-auto tablet:mt-10 mobile:px-4 gap-y-[32px] pb-[50px] desktop:pb-[120px]"
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
