---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Ezequias Torczuk Portfolio</title>
  </head>
  <body class="font-poppins font-light flex flex-col items-center">
    <Header />

    <div class="w-[clamp(320px,100%,1280px)] mt-10 mobile:pl-4">
      <slot />
    </div>

    <Footer />
  </body>
</html>
