---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { getLangFromUrl } from "../utilities/get-lang-from-url.utility";
const lang = getLangFromUrl(Astro.url);
const isEs = lang === "es";
import "../styles/global.css";
import { FULL_NAME } from "../configuration/general.configuration";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />

    <title>{FULL_NAME} Portfolio</title>
    <meta
      name="description"
      content={isEs
        ? "Desarrollador web especializado en React y NodeJS, construyendo proyectos modernos, escalables y creativos. Explora mi trabajo, habilidades y experiencia en desarrollo de software."
        : "Web developer specialized in React and NodeJS, building modern, scalable, and creative projects. Explore my work, skills, and experience in software development."}
    />

    <meta
      property="og:url"
      content={isEs
        ? "https://ezetorc.vercel.app/es"
        : "https://ezetorc.vercel.app/en"}
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Ezequías Torczuk Portfolio" />
    <meta
      property="og:description"
      content={isEs
        ? "Desarrollador web especializado en React y NodeJS, construyendo proyectos modernos, escalables y creativos. Explora mi trabajo, habilidades y experiencia en desarrollo de software."
        : "Web developer specialized in React and NodeJS, building modern, scalable, and creative projects. Explore my work, skills, and experience in software development."}
    />

    <meta
      property="og:image"
      content={isEs
        ? "https://opengraph.b-cdn.net/production/images/39c976c1-c14a-456c-996b-9ca1b4502bbe.png?token=S9ksgoRskcRfgxaCAEOPFt3kJNQWQLomE-BszNS2CLU&height=630&width=1200&expires=33297858101"
        : "https://opengraph.b-cdn.net/production/images/934d9ff1-24e6-42af-8535-c4a125e62f38.png?token=9uxPjDBLLCu_2iK2fHsVgrzQiom1mBz_ORxB_LdA0qE&height=630&width=1200&expires=33297857890"}
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="ezetorc.vercel.app" />
    <meta
      property="twitter:url"
      content={isEs
        ? "https://ezetorc.vercel.app/es"
        : "https://ezetorc.vercel.app/en"}
    />
    <meta name="twitter:title" content="Ezequías Torczuk Portfolio" />
    <meta
      name="twitter:description"
      content={isEs
        ? "Desarrollador web especializado en React y NodeJS, construyendo proyectos modernos, escalables y creativos. Explora mi trabajo, habilidades y experiencia en desarrollo de software."
        : "Web developer specialized in React and NodeJS, building modern, scalable, and creative projects. Explore my work, skills, and experience in software development."}
    />

    <meta
      name="twitter:image"
      content={isEs
        ? "https://opengraph.b-cdn.net/production/images/39c976c1-c14a-456c-996b-9ca1b4502bbe.png?token=S9ksgoRskcRfgxaCAEOPFt3kJNQWQLomE-BszNS2CLU&height=630&width=1200&expires=33297858101"
        : "https://opengraph.b-cdn.net/production/images/934d9ff1-24e6-42af-8535-c4a125e62f38.png?token=9uxPjDBLLCu_2iK2fHsVgrzQiom1mBz_ORxB_LdA0qE&height=630&width=1200&expires=33297857890"}
    />

    <ClientRouter />
  </head>
  <body>
    <Header />

    <main
      class="flex flex-col w-full max-w-[1280px] min-w-[320px] mx-auto mobile:mt-4 desktop:mt-10 mobile:px-4 gap-y-[32px] pb-[50px] desktop:pb-[120px]"
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
